
#---------------------------------------------------------------------#
#  PRESTO - Global Environment Configuration                          #
#---------------------------------------------------------------------#
#                                                                     #
#  HOW TO USE:                                                        #
#  1. Copy this file to .env                                          #
#  2. Edit .env with your own values (nano .env)                      #
#  3. DO NOT commit .env to git - it contains your private settings   #
#  4. This file (.env.example) is safe to commit - it has no secrets  #
#                                                                     #
#---------------------------------------------------------------------#


#---------------------------------------------------------------------#
# Set this to the current name of your main Pi (eg.rpi4)
# Global System Settings for use in service.yaml for each app used
SYSTEM_HOSTNAME=your-hostname # eg.rpi4
HOST_URL=${SYSTEM_HOSTNAME}.local
HOST_IP=192.168.1.x

# Secondary Pi (For users with a 2nd device for Sonarr/media, etc.)
# If not using a second Pi, users can just leave these as is or match Primary
REMOTE_HOSTNAME=rpi4-nas
REMOTE_IP=192.168.1.x
#---------------------------------------------------------------------#


#---------------------------------------------------------------------#
# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# Full list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/London
#---------------------------------------------------------------------#

#---------------------------------------------------------------------#
# use presto_usb_install to install USB devices for this path
# Path to your external USB/media drive (check with: lsblk) also
PHOTOPRISM_MEDIA_PATH=/media/PRESTO_MEDIA_2TB
#---------------------------------------------------------------------#


#---------------------------------------------------------------------#
#IMMICH GLOBALS FOPR COMPOSE BUILD 
# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=./volumes/immich/library

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=./volumes/immich/data/postgres


# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=release

# Change this to a unique password for your setup.
# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=changeme_use_random_password

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
#---------------------------------------------------------------------#