# C extensions
*.so

# Distribution / packaging
.Python
build/

#my stuff
.bashrc
.bash_history

/services/
/volumes/
/backups/
/media/
/Downloads/
/downloads/
/Movies/
/Music/
/TVseries/
/TransmissionWathFolder/
/TVrecordings/
/vpn/
docker-compose.yml
.outofdate
downloads
presto.code-workspace
presto_bashwelcome.sh
prestoBackups/
wg0.conf