  
#---------------------------------------------------------------------#
#     Tautilli plex info service                                      #
#---------------------------------------------------------------------#
 
  tautulli:
    image: tautulli/tautulli
    container_name: tautulli
    restart: unless-stopped
    volumes:
      - ./volumes/tautulli/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    ports:
      - 8181:8181
 