  
#---------------------------------------------------------------------#
#     HEIMDALL UI                                                     #
#---------------------------------------------------------------------#  
  
  heimdall:
    image: lscr.io/linuxserver/heimdall
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - ./volumes/heimdall/config:/config
    ports:
      - 8181:8181
      - 443:443
    restart: unless-stopped